*::after, *::before {
    box-sizing: border-box;
}
html, 
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight:300;
}
p{
    font-size: 2rem;
}
h2{
    font-size: 3rem;
    font-weight: bold;
}
nav{
    top:0;
    left:0;
    padding:1em;
    background-color:yellow;
    padding-top: 1.5em;
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width: 100%;
}
.icon{
    max-width:50px;
    padding-right:10px;
    margin: 0;
    margin-bottom: 10px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    font-size:2rem;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    font-size:1.5rem;
    padding-right: 4em;
}
.nav-links a{
    text-decoration:none;
    color:black;

}
.nav-links a,.nav-links p{
    margin:0;
}
.hero{
    padding-top: 15em;
    padding-bottom: 7.5em;
    background: url('../images/hero.png');
    background-size: cover;
    background-position: center;
    width:100%;
    height: 400px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero p,.hero h1{
    margin:0;
}
.hero p{
    font-weight: 300;
    max-width: 90vw;
}
.hero h1{
    font-size: 4rem;
    margin: 10px;
    max-width: 70vw;
}
.content{
    margin: 3.125em;
    display: grid;
    grid-template-columns: minmax(0,1fr);
    grid-gap: 1em;
    grid-template-areas: 
    "blog1"
    "blog2"
    "blog3";
}
.blog-post1{
    grid-area: blog1;
    width:100%;
}
.blog-post2{
    grid-area: blog2;
    width:100%;
}
.blog-post3{
    grid-area: blog3;
    width:100%;
}
.blog-image{
    width:100%;
    height:500px;
    object-fit:cover;
    border-radius: 5px;
}
nav,.hero{padding-left: 3.125em;}